<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSA Tracker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h1 class="text-center"> DSA and problem solving 2025 : DAY {{ day }}</h1>

    <form method="POST" class="mt-4">
        <label class="form-label">Topics learnt</label>
        <input type="text" name="topic" class="form-control" required>


        <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>

    <a href="{{ url_for('calendar') }}" class="btn btn-primary mt-3">View Calendar</a>
</body>
</html>
